<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
{% set data = {'name': 'wole', 'age': 49} %}

<div>username : {{ uname | striptags  }}</div>
<div>Email : {{ email }}</div>
<div>Name : {{ data['name'] }}</div>
<div>Age : {{ data['age'] }}</div>

{% for i in range(0,3) %}
 {{ i }}
{% endfor %}
<br>
{{ "now" | date(null, "Europe/London") }}<br>
{{ "now"|date(timezone="Europe/Paris")  }}<br>
{{ "now"|date('d/m/Y H:i', timezone="Europe/Paris") }}




</body>
</html>